target
tags
.eclipse_workspace
.classpath
.project
.settings
.DS_Store
.idea
.vscode
*.iml
.*.swp
*.tokens
.m2/repository
*.log
venv
pom.xml.versionsBackup
*dump*

**/generated-sources/*
npl/npl-contrib/*
npl-contrib.properties
**/test_snapshots/*
.claude
.cursorrules
tmp